<MudPaper id="side-nav-menu" style="overflow:auto;">
    <MudList T="string">
        <MudListItem Icon="@Icons.Material.Filled.HelpOutline" Text="Hjälp" @bind-Expanded="_hjalpExpanded"></MudListItem>
        <div class="sidebar-item-divider"></div>
        <MudListItem Icon="@Icons.Material.Filled.Book" Text="Mina lån" @bind-Expanded="_minaLanExpanded">
            <NestedList>
                <MudListItem href="/mina-lan">Mina lån</MudListItem>
                <MudListItem href="/">Home</MudListItem>
            </NestedList>
        </MudListItem>
        <div class="sidebar-item-divider"></div>
        <MudListItem Icon="@Icons.Material.Filled.Devices" Text="Digitala böcker" @bind-Expanded="_digiExpanded"></MudListItem>
        <div class="sidebar-item-divider"></div>
        <MudListItem Icon="@Icons.Material.Filled.LibraryBooks" Text="Inköp/fjärrlån" @bind-Expanded="_fjarrExpanded">
            <NestedList>
                <MudListItem>Beställ</MudListItem>
                <MudListItem>Ge förslag</MudListItem>
                <MudListItem>Fjärrlån</MudListItem>
            </NestedList>
        </MudListItem>
        <div class="sidebar-item-divider"></div>
        <MudListItem Icon="@Icons.Material.Filled.Newspaper" Text="Magasin" @bind-Expanded="_magExpanded">
            <NestedList>
                <MudListItem>Beställ från Magasin</MudListItem>
                <MudListItem>Mina beställningar</MudListItem>
            </NestedList>
        </MudListItem>
        <div class="sidebar-item-divider"></div>
        <MudListItem Icon="@Icons.Material.Filled.Groups" Text="Boka grupprum" @bind-Expanded="_grupprumExpanded"></MudListItem>
        <div class="sidebar-item-divider"></div>
        <MudListItem Icon="@Icons.Material.Filled.Dns" Text="Hyr ett skåp" @bind-Expanded="_skapExpanded"></MudListItem>
        <div class="sidebar-item-divider"></div>
        <MudListItem Icon="@Icons.Material.Filled.Send" Text="Hyr en vagn" @bind-Expanded="_vagnExpanded"></MudListItem>
        <div class="sidebar-item-divider"></div>
        <MudListItem Icon="@Icons.Material.Filled.Print" Text="Skriv ut" @bind-Expanded="_printExpanded"></MudListItem>
        <div class="sidebar-item-divider"></div>
        <MudListItem Icon="@Icons.Material.Filled.Hearing" Text="Talböcker" @bind-Expanded="_talnockExpanded"></MudListItem>
        <div class="sidebar-item-divider"></div>
        <MudListItem Icon="@Icons.Material.Filled.AdsClick" Text="Sökhandledning" @bind-Expanded="_sokhandlExpanded"></MudListItem>
    </MudList>
</MudPaper>
@code {
    bool _hjalpExpanded;
    bool _minaLanExpanded;
    bool _digiExpanded;
    bool _fjarrExpanded;
    bool _magExpanded;
    bool _grupprumExpanded;
    bool _skapExpanded;
    bool _vagnExpanded;
    bool _printExpanded;
    bool _talnockExpanded;
    bool _sokhandlExpanded;
    bool _expanded;
}