<MudPaper style="overflow:auto;">
    <MudList T="string">
        <MudListItem Icon="@Icons.Material.Filled.Inbox" Text="Hjälp" @bind-Expanded="_hjalpExpanded">
            <NestedList>
                <MudListItem Icon="@Icons.Material.Filled.StarRate">
                    Starred
                </MudListItem>
                <MudListItem Icon="@Icons.Material.Filled.WatchLater">
                    Snoozed
                </MudListItem>
            </NestedList>
        </MudListItem>
        <div class="sidebar-item-divider"></div>
        <MudListItem Icon="@Icons.Material.Filled.Send" Text="Mina lån" @bind-Expanded="_minaLanExpanded">
            <NestedList>
                <MudListItem href="/mina-lan">
                    Re: Meeting tomorrow
                </MudListItem>
                <MudListItem href="/">Fwd: JavaScript memes xD</MudListItem>
            </NestedList>
        </MudListItem>
        <div class="sidebar-item-divider"></div>
        <MudListItem Icon="@Icons.Material.Filled.Drafts" Text="Digitala böcker" @bind-Expanded="_digiExpanded">
            <NestedList>
                <MudListItem>Re: Meeting tomorrow</MudListItem>
                <MudListItem>Fwd: JavaScript memes xD</MudListItem>
            </NestedList>
        </MudListItem>
        <div class="sidebar-item-divider"></div>
        <MudListItem Icon="@Icons.Material.Filled.Send" Text="Inköp/fjärrlån" @bind-Expanded="_fjarrExpanded">
            <NestedList>
                <MudListItem>Re: Meeting tomorrow</MudListItem>
                <MudListItem>Fwd: JavaScript memes xD</MudListItem>
            </NestedList>
        </MudListItem>
        <div class="sidebar-item-divider"></div>
        <MudListItem Icon="@Icons.Material.Filled.Send" Text="Magasin" @bind-Expanded="_magExpanded">
            <NestedList>
                <MudListItem>Re: Meeting tomorrow</MudListItem>
                <MudListItem>Fwd: JavaScript memes xD</MudListItem>
            </NestedList>
        </MudListItem>
        <div class="sidebar-item-divider"></div>
        <MudListItem Icon="@Icons.Material.Filled.Send" Text="Boka grupprum" @bind-Expanded="_grupprumExpanded">
            <NestedList>
                <MudListItem>Re: Meeting tomorrow</MudListItem>
                <MudListItem>Fwd: JavaScript memes xD</MudListItem>
            </NestedList>
        </MudListItem>
        <div class="sidebar-item-divider"></div>
        <MudListItem Icon="@Icons.Material.Filled.Send" Text="Hyr ett skåp" @bind-Expanded="_skapExpanded">
            <NestedList>
                <MudListItem>Re: Meeting tomorrow</MudListItem>
                <MudListItem>Fwd: JavaScript memes xD</MudListItem>
            </NestedList>
        </MudListItem>
        <div class="sidebar-item-divider"></div>
        <MudListItem Icon="@Icons.Material.Filled.Send" Text="Hyr en vagn" @bind-Expanded="_vagnExpanded">
            <NestedList>
                <MudListItem>Re: Meeting tomorrow</MudListItem>
                <MudListItem>Fwd: JavaScript memes xD</MudListItem>
            </NestedList>
        </MudListItem>
        <div class="sidebar-item-divider"></div>
        <MudListItem Icon="@Icons.Material.Filled.Send" Text="Skriv ut" @bind-Expanded="_printExpanded">
            <NestedList>
                <MudListItem>Re: Meeting tomorrow</MudListItem>
                <MudListItem>Fwd: JavaScript memes xD</MudListItem>
            </NestedList>
        </MudListItem>
        <div class="sidebar-item-divider"></div>
        <MudListItem Icon="@Icons.Material.Filled.Send" Text="Talböcker" @bind-Expanded="_talnockExpanded">
            <NestedList>
                <MudListItem>Re: Meeting tomorrow</MudListItem>
                <MudListItem>Fwd: JavaScript memes xD</MudListItem>
            </NestedList>
        </MudListItem>
        <div class="sidebar-item-divider"></div>
        <MudListItem Icon="@Icons.Material.Filled.Send" Text="Sökhandledning" @bind-Expanded="_sokhandlExpanded">
            <NestedList>
                <MudListItem>Re: Meeting tomorrow</MudListItem>
                <MudListItem>Fwd: JavaScript memes xD</MudListItem>
            </NestedList>
        </MudListItem>
    </MudList>
</MudPaper>
@code {
    bool _hjalpExpanded;
    bool _minaLanExpanded;
    bool _digiExpanded;
    bool _fjarrExpanded;
    bool _magExpanded;
    bool _grupprumExpanded;
    bool _skapExpanded;
    bool _vagnExpanded;
    bool _printExpanded;
    bool _talnockExpanded;
    bool _sokhandlExpanded;
    bool _expanded;
}