@page "/"

<PageTitle>Mitt bibliotek</PageTitle>

<MudGrid>
    <MudItem xs="12">
        <h1>Hej Joe doe,</h1>

        Här har vi samla våra tjänster sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna vero.
    </MudItem>

    <!-- foreach card -->
    <MudItem id="home-latest" xs="6">
        <MudList T="string" Gutters="true" Padding="true">
            <MudListSubheader Gutters="true">
                <MudIcon Icon="@Icons.Material.Filled.Newspaper" Style="color: #a3a86b" />
                Senaste
            </MudListSubheader>
            @foreach (String l in latest) 
            {
                <MudListItem Icon="@Icons.Material.Filled.ArrowForward" Text="@l"></MudListItem>
            }
        </MudList>
    </MudItem>

    <MudItem id="home-notifications" xs="6">
        <MudList T="string" Gutters="true" Padding="true">
            <MudListSubheader Gutters="true">
                <MudIcon Icon="@Icons.Material.Filled.Notifications" Style="color: #ff6634" />
                Mina Notiser
            </MudListSubheader>
            @foreach (String notification in notifications)
            {
                <MudListItem Text="@notification"></MudListItem> // unlike "Senaste", icon could be bell, number ...
            }
        </MudList>
    </MudItem>

    <MudItem xs="12">
        <MudPaper Style="background-color: #f6f6f1" Class="pa-4" Outlined="true">
            
            <h1><MudIcon Icon="@Icons.Material.Filled.Apps" Style="color: #a3a86b" />Skapa ett "Mitt bibliotek konto"</h1>
            <p class="pa-4">Med ett konto kan du göra ditt och datt... , consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero.</p>
            <div class="paper-card-actions">
                <MudButton Variant="Variant.Outlined" Color="Color.Default" Style="background-color: white">Skapa din pinkod</MudButton>
            </div>
        </MudPaper>
    </MudItem>

    <MudItem xs="6" class="@(hideTalbokCard ? "hidden" : "")">
        <MudCard Style="background-color: #f6f6f1">
            <MudCardHeader class="closable-card-header">
                <CardHeaderContent>
                    <MudText Typo="Typo.h6"><MudIconButton Icon="@Icons.Material.Filled.HearingDisabled" Style="color: #a3a86b" />För dig som har funktionsnedsättning: Talböcker</MudText>
                </CardHeaderContent>
                <CardHeaderActions>
                    <MudIconButton OnClick="toggleTalbok" Icon="@Icons.Material.Filled.Close" Style="color: #a3a86b" />
                </CardHeaderActions>
            </MudCardHeader>
            <MudCardContent>
                <MudText>This day everything happened.</MudText>
                <MudText Typo="Typo.body2">The quick, brown fox jumps over a lazy dog.</MudText>
            </MudCardContent>
            <MudCardActions>
                <MudButton Variant="Variant.Outlined" Color="Color.Default" Style="background-color: white">Boka ett möte</MudButton>
            </MudCardActions>
        </MudCard>
    </MudItem>

    <MudItem xs="6">
        <MudCard Style="background-color: #f6f6f1">
            <MudCardHeader class="closable-card-header">
                <CardHeaderContent>
                    <MudText Typo="Typo.h6"><MudIconButton Icon="@Icons.Material.Filled.AdsClick" Style="color: #a3a86b" />Boka ett möte för sökhandledning</MudText>
                </CardHeaderContent>
                <CardHeaderActions>
                    <MudIconButton Icon="@Icons.Material.Filled.Close" Style="color: #a3a86b" />
                </CardHeaderActions>
            </MudCardHeader>
            <MudCardContent>
                <MudText>This day everything happened.</MudText>
                <MudText Typo="Typo.body2">The quick, brown fox jumps over a lazy dog.</MudText>
            </MudCardContent>
            <MudCardActions>
                <MudButton Variant="Variant.Outlined" Color="Color.Default" Style="background-color: white">Boka ett möte</MudButton>
            </MudCardActions>
        </MudCard>
    </MudItem>

    <MudItem xs="6">
        <MudCard Style="background-color: #f6f6f1">
            <MudCardHeader class="closable-card-header">
                <CardHeaderContent>
                    <MudText Typo="Typo.h6"><MudIconButton Icon="@Icons.Material.Filled.Print" Style="color: #a3a86b" />Skriva ut</MudText>
                </CardHeaderContent>
                <CardHeaderActions>
                    <MudIconButton Icon="@Icons.Material.Filled.Close" Style="color: #a3a86b" />
                </CardHeaderActions>
            </MudCardHeader>
            <MudCardContent>
                <MudText>This day everything happened.</MudText>
                <MudText Typo="Typo.body2">The quick, brown fox jumps over a lazy dog.</MudText>
            </MudCardContent>
            <MudCardActions>
                <MudButton Variant="Variant.Outlined" Color="Color.Default" Style="background-color: white">Ladda mitt kort</MudButton>
            </MudCardActions>
        </MudCard>
    </MudItem>

    <MudItem xs="6">
        <MudCard Style="background-color: #f6f6f1">
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h6"><MudIconButton Icon="@Icons.Material.Filled.QuestionAnswer" Style="color: #a3a86b" />HUR GÖR JAG</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardActions>
                <MudButton Variant="Variant.Outlined" Color="Color.Default" FullWidth="true" Style="background-color: white">Hur gör jag med handledning?</MudButton>
                <MudButton Variant="Variant.Outlined" Color="Color.Default" FullWidth="true" Style="background-color: white">Hur kan jag beställa böcker?</MudButton>
                <MudButton Variant="Variant.Outlined" Color="Color.Default" FullWidth="true" Style="background-color: white">Hur kan jag hyra en vagn eller hyra ett skåp?</MudButton>
            </MudCardActions>
        </MudCard>
    </MudItem>

</MudGrid>

@code {
    private bool hideTalbokCard = false;
    private List<String> latest = ["AI söktjänst Keenious", "Video: Förbättra dina sökord", "Video: Referenshanteringsprogram"]; // should be just a link?
    private List<String> notifications = ["Böcker > påminnelse", "Lån av fjärrlån", "Magasin > beställningar"]; // consider making Notifications class including link, icon ...

    void toggleTalbok()
    {
        hideTalbokCard = !hideTalbokCard;
    }
}